@charset "UTF-8";

Title { 
    color:black; 
    background-color:white; 
    }
heading 1  { 
    color:black; 
    background-color:white; 
    }

heading 2 { 
    color:black; 
    background-color:white; 
    }

heading 3 { 
    color:black; 
    background-color:white; 
    }

heading 4 { 
    color:black; 
    background-color:white; 
    }
    
 Normal { 
    color:gray; 
    background-color:white; 
    }
 

Reference { 
    color:gray; 
    background-color:white; 
    }

 
 endnote reference {
     color:gray; 
    background-color:white; 
    }
